* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  color: #384b4ec0;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #297fb9b6, #6dd5fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(0.3rem);
  border-radius: 2rem;
  min-height: 80vh;
  width: 60%;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 24px 22px 68px -17px rgba(0, 0, 0, 0.42);
}

#switchBtn {
  display: flex;
  justify-self: flex-end;
  align-self: start;
  outline: none;
}

.circle1,
.circle2 {
  background: rgba(255, 255, 255, 0.692);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.664),
    rgba(255, 255, 255, 0.171)
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  bottom: 3%;
  left: 10%;
}

.circle2 {
  top: 3%;
  right: 10%;
}

/* Dashboard Section */

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 2rem;
  box-shadow: 24px 22px 68px -17px rgba(170, 119, 119, 0.1);
}

.picDark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 1rem;
  filter: drop-shadow(0 0 0.75rem rgba(85, 73, 75, 0.603));
}

.darkMode {
  filter: invert(1) hue-rotate(180deg);
}

h3 {
  font-weight: 600;
}

h2 {
  padding: 0rem 0rem 1rem 0rem;
  font-size: 0.9rem;
}

.title h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #729ba1c0;
}

.line {
  margin: auto;
  width: 60%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.link {
  display: flex;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 24px 22px 68px -17px rgba(19, 18, 18, 0.8);
}

.link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #729ba1c0;
}

.link .icon {
  justify-content: center;
  padding: 0rem 1rem 0rem 0rem;
}

.git {
  fill: red;
}

/* Projects Section */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2;
}

.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-weight: 800;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 24px 22px 68px -17px rgba(0, 0, 0, 0.42);
}

.card a {
  text-align: center;
  width: 40%;
}

.card .content {
  padding: 1rem;
  width: 60%;
}

.card .banner {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

@media only screen and (max-width: 1024px) {
  .glass {
    width: 98%;
    display: grid;
    justify-items: center;
    grid-template-areas:
      'dash'
      'temp';
  }

  .dashboard {
    margin-top: 2%;
    width: 95%;
    grid-area: dash;
    flex-wrap: wrap;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
    grid-auto-rows: minmax(10%, auto);
    box-shadow: 24px 22px 68px -17px rgba(0, 0, 0, 0.42);
  }

  #switchBtn {
    grid-column: 1/2;
    padding: 0.5rem;
  }

  .links {
    padding: 1rem 0rem 1rem 0rem;
    width: 80%;
    height: auto;
  }

  .link {
    justify-content: start;
    margin: 1%;
    border-radius: 2rem;
  }

  .link a img {
    padding: 0.5rem;
  }

  .projects {
    grid-area: temp;
  }
}
